<!DOCTYPE html>
<html>
  <head>
    <title>Node.js CRUD app with MySQL</title>
  </head>
  <body>
    <h1>Add User</h1>
    <form method="post" action="/add">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name"><br>
      <label for="email">Email:</label>
      <input type="text" id="email" name="email"><br>
      <label for="phone">Phone:</label>
      <input type="text" id="phone" name="phone"><br>
      <input type="submit" value="Add">
    </form>
  </body>
</html>
